In [1]:
# LIBRARIES 
import pandas as pd
import numpy as np
import os
from os import path
import xlsxwriter
from pathlib import Path
import csv
import sys
import altair as alt
from datetime import date
from datetime import datetime
#import matplotlib.pyplot as plt
#import pandas_profiling
print("+++ libraries loaded!")

+++ libraries loaded!

In [24]:
### ---- 
### DATE AND TIME VARIABLES
### ---- 
today = date.today()
print (today)

from datetime import date
from datetime import datetime

today = date.today()

# ddmmYY_HHMMSS

now = datetime.now()
dt_string = now.strftime("%m%d%Y_%H%M%S")
print("SUFFIX date and time =", dt_string)

# dd/mm/YY
d1 = today.strftime("%d/%m/%Y")
print("d1 =", d1)

# Textual month, day and year	
d2 = today.strftime("%B %d, %Y")
print("d2 =", d2)

# mm/dd/y
d3 = today.strftime("%m/%d/%y")
print("d3 =", d3)

# Month abbreviation, day and year	
d4 = today.strftime("%b-%d-%Y")
print("d4 =", d4)

# datetime object containing current date and time
now = datetime.now()
print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

# ddmmYY_HHMMSS
dt_string = now.strftime("%m%d%Y_%H%M%S")
print("date and time =", dt_string)


current_time = now.strftime("%H:%M:%S")
print("Current Time =", current_time)

current_time = now.strftime("%H_%M_%S")
print("Current Time =", current_time)


now = datetime.now().time() # time object
print("now =", now)
print("type(now) =", type(now))

2021-05-20
SUFFIX date and time = 05202021_122238
d1 = 20/05/2021
d2 = May 20, 2021
d3 = 05/20/21
d4 = May-20-2021
now = 2021-05-20 12:22:38.538679
date and time = 20/05/2021 12:22:38
date and time = 05202021_122238
Current Time = 12:22:38
Current Time = 12_22_38
now = 12:22:38.539837
type(now) = <class 'datetime.time'>

In [ ]:
## ------
## FILES 
## ------
home_dir = './'
in_dir = os.path.join(home_dir, 'in_dir')
out_dir = os.path.join(home_dir, 'out_dir')
csv_files = [os.path.join(in_dir , f) for f in os.listdir(in_dir) if (".csv" in f and "~" not in f) ]
print(csv_files)

In [ ]:
# FILES Alternate 
# files = os.listdir(path)
# for f in files:
# 	print(f)
#   print(os.path.join(root, name))

# directory = os.path.join("c:\\","path")
# for root,dirs,files in os.walk(directory):
#     for file in files:
#        if file.endswith(".csv"):
#            f=open(file, 'r')
#            #  perform calculation
#            f.close()

# print(files)

In [ ]:
## --{
## CREATE DF form CSV 
## --- 
# CONCATENATE many csv files in one df
df_raw = pd.concat((pd.read_csv(f) for f in csv_files))

In [ ]:
## --- 
## SAVE DF into a CSV 
## --- 
out_file = "out_file.csv"
now = datetime.now()
pre_fix = now.strftime("%m%d%Y_%H%M%S_")
df_raw.to_csv(out_dir + '/' + pre_fix + out_file)

In [ ]:
## ---
## DF ANALYSIS 
## ---
df           # print the first 30 and last 30 rows
type(df)     # DataFrame
df.head()    # print the first 5 rows
df.head(10)  # print the first 10 rows
df.tail()    # print the last 5 rows
df.index     # “the index” (aka “the labels”)
df.columns   # column names (which is “an index”)
df.dtypes    # data types of each column
df.shape     # number of rows and columns
# underlying numpy array — df are stored as numpy arrays for effeciencies.
df.values
df['Market Code'].value_counts()
df['Market Code'].unique()


del df_resp # Delete

In [ ]:
### ----
# DF COLUMN ANALYSIS
### ----

df[‘column_y’]         # select one column
type(df[‘column_y’])   # determine datatype of column (e.g., Series)

# summarize (describe) the DataFrame
df.describe()          # describe all numeric columns
df.describe(include=[‘object’])  # describe all object columns
df.describe(include=’all’)      # describe all columns

#filter df by one column, and print out values of another column
#when using numeric values, no quotations
df[df.column_y == “string_value”].column_z
df[df.column_y == 20].column_z

# display only the number of rows of the ‘df’ DataFrame
df.shape[0]
# display the 3 most frequent occurances of column in ‘df’
df.column_y.value_counts()[0:3]

In [ ]:
### --- 
### DF FILTER
### ---- 
# boolean filtering: only show df with column_z < 20
filter_bool = df.column_z < 20    # create a Series of booleans…
df[filter_bool]                # …and use that Series to filter rows
df[filter_bool].describe()     # describes a data frame filtered by filter_bool
df[df.column_z < 20]           # or, combine into a single step
df[df.column_z < 20].column_x  # select one column from the filtered results
df[df[“column_z”] < 20].column_x     # alternate method
# value_counts of resulting Series, can also use .mean(), etc. instead of .value_counts()
df[df.column_z < 20].column_x.value_counts()

In [1]:
### --- 
### DF QUERY 
### ---- 
import pandas as pd
fooframe = pd.DataFrame({‘Size’:[‘Large’, ‘Medium’, ‘Small’, ‘Tiny’], 'Color':[1, 2, 3, 4]})
 # classic way 
subframe = fooframe[fooframe['Size'] == 'Large']

# query way 
subframe = fooframe.query(“Size == ‘Large’”)
# with var in 
my_size = ‘Large’
subframe = fooframe.query(“Size == @my_size”)
# w/ col as a var 
col_n = ‘Size’
my_size = ‘Large’
subframe = fooframe.query(f”{col_n } == ‘{my_size}’”)
# NOTE: Because you are building a string to query, you need the ‘’quotes around my_size 
# to indicate to .query() to expect a string to compare to.

df.query('Size == "Large" and Color != "1" ')

SyntaxError: invalid character '‘' (U+2018) (<ipython-input-1-fe055e46efca>, line 5)

In [ ]:
### --- 
### DROP 
### --- 

df = df.drop(some labels)
df = df.drop(df[<some boolean condition>].index)

## Use dropna with parameter subset for specify column for check NaNs:
# 1. Dropping columns
# The drop function is used to drop columns and rows. We pass the labels of rows or columns to be dropped.
df.drop(['RowNumber', 'CustomerId', 'Surname', 'CreditScore'], axis=1, inplace=True)

In [ ]:
## --- 
## APPLY an IF condition in Pandas DataFrame
## https://datatofish.com/if-condition-in-pandas-dataframe/
## --- 
### 1 
### If the number is equal or lower than 4, then assign the value of ‘True’skus_resp_list
### Otherwise, if the number is greater than 4, then assign the value of ‘False’
df.loc[df['column name'] condition, 'new column name'] = 'value if condition is met'
df.loc[df['set_of_numbers'] <= 4, 'equal_or_lower_than_4?'] = 'True' 
df.loc[df['set_of_numbers'] > 4, 'equal_or_lower_than_4?'] = 'False' 

### 2 (2) IF condition – set of numbers and lambda
df['new column name'] = df['column name'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')
df['equal_or_lower_than_4?'] = df['set_of_numbers'].apply(lambda x: 'True' if x <= 4 else 'False')

### 3) IF condition – strings
### If the name is equal to ‘Bill,’ then assign the value of ‘Match’
### Otherwise, if the name is not ‘Bill,’ then assign the value of ‘Mismatch’
df.loc[df['First_name'] == 'Bill', 'name_match'] = 'Match'  
df.loc[df['First_name'] != 'Bill', 'name_match'] = 'Mismatch'  

### 4) IF condition – strings and lambada 
df['name_match'] = df['First_name'].apply(lambda x: 'Match' if x == 'Bill' else 'Mismatch')

### 5) IF condition with OR
df.loc[(df['First_name'] == 'Bill') | (df['First_name'] == 'Emma'), 'name_match'] = 'Match'  
df.loc[(df['First_name'] != 'Bill') & (df['First_name'] != 'Emma'), 'name_match'] = 'Mismatch'

In [ ]:
### ---
### DF from Clipbard 
### ---
df_raw = pd.read_clipboard()
df_raw.head()

In [ ]:
### ---
### F-string
### ---
a_var = "a"
print(f"{a_var = }")

float_variable = 3.141592653589793
print(f"{float_variable:.2f}")


money = 3_142_671.76
print(f"${money:,.2f}")

now = datetime.now()
print (f"{now:%d-%B-%Y}")

# Pad Output length of 20, and pad the rest with zeroes
int_variable = 1_234_567
print(f'{int_variable:020}')

# Using repr() function
print(f'{now!r}')
# datetime.datetime(2021, 7, 5, 13, 2, 34, 672383)

In [ ]:
## --- 
## 30 Examples to Master Pandas
## https://towardsdatascience.com/30-examples-to-master-pandas-f8a2da751fa4
## --- 
# create a DataFrame from a dictionary
pd.DataFrame({‘column_x’: [‘value_x1’, ‘value_x2’, ‘value_x3’], ‘column_y’: [‘value_y1’, ‘value_y2’, ‘value_y3’]})
# create a DataFrame from a list of lists
pd.DataFrame([[‘value_x1’, ‘value_y1’], [‘value_x2’, ‘value_y2’], [‘value_x3’, ‘value_y3’]], columns=[‘column_x’, ‘column_y’])

30 Examples to Master Pandas
https://towardsdatascience.com/30-examples-to-master-pandas-f8a2da751fa4

How to Create Pandas DataFrame in Python 
https://datatofish.com/create-pandas-dataframe/
https://datatofish.com/python-tutorials/

In [ ]:
## --- 
## How to Create Pandas DataFrame in Python 
## https://datatofish.com/create-pandas-dataframe/
## --- 
# 1 - typing values in Python to create Pandas DataFrame
data = {'First Column Name':  ['First value', 'Second value',...],
        'Second Column Name': ['First value', 'Second value',...],
         ....}
df = pd.DataFrame (data, columns = ['First Column Name','Second Column Name',...])

# OR  
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]}
df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

#2 Method 2: importing values from an Excel file to create Pandas DataFrame
data = pd.read_excel(r'Path where the Excel file is stored\File name.xlsx') #for an earlier version of Excel use 'xls'
df = pd.DataFrame(data, columns = ['First Column Name','Second Column Name',...])
# ImportError: Install xlrd >= 1.0.0 for Excel support
pip3 install xlrd


# Get the maximum value from the DataFrame
max1 = df['Price'].max()

In [ ]:
### ADD multiple columns to pandas dataframe in one assignment

# 1) Three assignments in one, using list unpacking:
df['column_new_1'], df['column_new_2'], df['column_new_3'] = [np.nan, 'dogs', 3]

#2) DataFrame conveniently expands a single row to match the index, so you can do this:
df[['column_new_1', 'column_new_2', 'column_new_3']] = pd.DataFrame([[np.nan, 'dogs', 3]], index=df.index)

#3) Make a temporary data frame with new columns, then combine with the original data frame later:
df = pd.concat(
    [
        df,
        pd.DataFrame(
            [[np.nan, 'dogs', 3]], 
            index=df.index, 
            columns=['column_new_1', 'column_new_2', 'column_new_3']
        )
    ], axis=1
)

#4) Similar to the previous, but using join instead of concat (may be less efficient):
df = df.join(pd.DataFrame(
    [[np.nan, 'dogs', 3]], 
    index=df.index, 
    columns=['column_new_1', 'column_new_2', 'column_new_3']
))

#5) Using a dict is a more "natural" way to create the new data frame than the previous two, but the new columns will be sorted alphabetically (at least before Python 3.6 or 3.7):
df = df.join(pd.DataFrame(
    {
        'column_new_1': np.nan,
        'column_new_2': 'dogs',
        'column_new_3': 3
    }, index=df.index
))

#6) Use .assign() with multiple column arguments.
#I like this variant on @zero's answer a lot, but like the previous one, the new columns will always be sorted alphabetically, at least with early versions of Python:
df = df.assign(column_new_1=np.nan, column_new_2='dogs', column_new_3=3)

#7) This is interesting (based on https://stackoverflow.com/a/44951376/3830997), but I don't know when it would be worth the trouble:
new_cols = ['column_new_1', 'column_new_2', 'column_new_3']
new_vals = [np.nan, 'dogs', 3]
df = df.reindex(columns=df.columns.tolist() + new_cols)   # add empty cols
df[new_cols] = new_vals  # multi-column assignment works for existing cols

#8) In the end it's hard to beat three separate assignments:
df['column_new_1'] = np.nan
df['column_new_2'] = 'dogs'
df['column_new_3'] = 3

In [ ]:
>>> df = pd.DataFrame(columns=['lib', 'qty1', 'qty2'])
>>> for i in range(5):
>>>     df.loc[i] = ['name' + str(i)] + list(randint(10, size=2))

>>> df
     lib qty1 qty2
0  name0    3    3
1  name1    2    4
2  name2    2    8
3  name3    2    1
4  name4    9    6

In [ ]:
def func(row):
   if row['a'] == "3":
        row2 = row.copy()
        # make edits to row2
        return pd.concat([row, row2], axis=1)
   return row

pd.concat([func(row) for _, row in df.iterrows()], ignore_index=True, axis=1).T

In [ ]:
def row_appends(x):
    newrows = x.loc[x['a'].isin(['3', '4', '5'])].copy()
    newrows.loc[x['a'] == '3', 'b'] = 10  # make conditional edit
    newrows.loc[x['a'] == '4', 'b'] = 20  # make conditional edit
    newrows.index = newrows.index + 0.5
    return newrows

res = pd.concat([df, df.pipe(row_appends)])\
        .sort_index().reset_index(drop=True)

In [ ]:
# https://stackoverflow.com/questions/10715965/create-pandas-dataframe-by-appending-one-row-at-a-time 
### This is The Right Way™ to accumulate your data

data = []
for a, b, c in some_function_that_yields_data():
    data.append([a, b, c])

df = pd.DataFrame(data, columns=['A', 'B', 'C'])

In [ ]:
market_store = {'CA':ca_test_store,'US':us_test_store}
#df_bev['store'] = df_bev['Market Code'].map(market_store)

In [ ]:
people = [
{'name': "Tom", 'age': 10},
{'name': "Mark", 'age': 5},
{'name': "Pam", 'age': 7}
]

filter(lambda person: person['name'] == 'Pam', people)
result (returned as a list in Python 2):

[{'age': 7, 'name': 'Pam'}]

In [ ]:
### DICTIONARIES 
# Dictionary is an unordered collection of key-value pairs. 
# Each entry has a key and value. 
# A dictionary can be considered as a list with special index.
# The keys must be unique and immutable. So we can use strings, numbers (int or float), or tuples as keys.

In [ ]:
# 1. Creating a dictionary
# We can create a dictionary by providing 0 or more key value pairs between curly braces 
empty_dict = {}
grades = {'John':'A', 'Emily':'A+', 'Betty':'B', 'Mike':'C', 'Ashley':'A'}
grades
# {'Ashley': 'A', 'Betty': 'B', 'Emily': 'A+', 'John': 'A', 'Mike': 'C'}

In [ ]:
# 2. Accessing the values
# We access a value in a list by providing the index. 
# Similarly, in dictionaries, the values are accessed by using the keys.
grades['John']
# 'A'
grades.get('Betty')
# 'B'

In [ ]:
# 3. All values and/or all keys
# The keys method is used to get all the keys.
grades.keys()
# dict_keys(['John', 'Emily', 'Betty', 'Mike', 'Ashley'])
# The return object is a dict_keys object which is an iterable. 
# Thus, we can iterate over it in for loops.

# Similarly, the values method returns all the values.
grades.values()
#dict_values(['A', 'A+', 'B', 'C', 'A'])

# We cannot index on dict_keys or dict_values but we can convert them to a list and then use indexing.
list(grades.values())[0]
#'A'
# The items method returns key-value pairs in tuples.
grades.items()
# dict_items([('John', 'A'), ('Emily', 'A+'), ('Betty', 'B'), ('Mike', 'C'), ('Ashley', 'A')])

In [ ]:
# 4. Updating or adding an item
# Dictionaries are mutable so we can update, add or delete items. 
# The syntax for updating or adding an item is the same. 
# If the given key exists in the dictionary, the value of the existing item is updated. 
# Otherwise, a new item (i.e. key-value pair) is created.

grades['Edward'] = 'B+'
grades['John'] = 'B'
grades
{'Ashley': 'A',
 'Betty': 'B',
 'Edward': 'B+',
 'Emily': 'A+',
 'John': 'B',
 'Mike': 'C'}

In [ ]:
# 5. Updating with a new dictionary
# We can also pass a dictionary to the update function.
# The dictionary will be updated based on the items in the new dictionary. It will become more clear with an examples.
# Consider the following grades and grades_new dictionaries:
grades = {'John':'A', 'Emily':'A+', 'Betty':'B', 'Mike':'C'}
grades_new = {'John':'B', 'Sam':'A', 'Betty':'A'}
# If we update grades based on grades_new, the values of John and Betty will be updated.
# Also, a new item (‘Sam’:’A’) will be added.
grades.update(grades_new)
grades
#{'Betty': 'A', 'Emily': 'A+', 'John': 'B', 'Mike': 'C', 'Sam': 'A'}

In [ ]:
# 6. Deleting an item
# We can use the del or pop function to delete an item. We just pass the key of the item to be deleted.
del(grades['Edward'])
grades.pop('Ashley')
#'A'
grades
'Betty': 'B', 'Emily': 'A+', 'John': 'B', 'Mike': 'C'}
# Unlike the del function, the pop function returns the value of the deleted item. 
# Thus, we have the option to assign it to a variable.

In [ ]:
# 7. Dictionary as iterable
# We can iterate over a dictionary. By default, the iteration is based on keys.
for i in grades:
    print(i)
John
Emily
Betty
Mike
# We can also iterate over values (grades.values()) or key-value pairs (grades.items()).

In [ ]:
# 8. Dictionary comprehension
# It is similar to a list comprehension. 
# Dictionary comprehension is a way to create dictionaries based on iterables.
{x: x**2 for x in range(5)}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{word: len(word) for word in ['data','science','is','awesome']}
{'awesome': 7, 'data': 4, 'is': 2, 'science': 7}
# The elements in the iterable become the keys of the dictionary. 
# The values are determined based on the assignment in the dictionary comprehension.

In [ ]:
# 9. Creating a dictionary from a list of lists
# We can create a dictionary using a list of lists or list of tuples.
a = [['A',4], ['B',5], ['C',11]]
dict(a)
{'A': 4, 'B': 5, 'C': 11}
b = [('A',4), ('B',5), ('C',11)]
dict(b)
{'A': 4, 'B': 5, 'C': 11}

In [ ]:
# 10. From dictionary to dataframe
# The dataframe function of Pandas can be used to create a dataframe using a dictionary.
# The keys become the column names and the values become rows.
# Up until now, we have done examples with dictionaries whose values were strings.
# However, the values in a dictionary can be of any type such as lists, numpy arrays, other dictionaries and so on.
# In case of creating a dataframe from a dictionary, values consist of arrays (e.g. list, numpy array).
import numpy as np
import pandas as pd
dict_a = {'names':['Amber','John','Edward','Emily'],
         'points':np.random.randint(100, size=4)}
df = pd.DataFrame(dict_a)

In [ ]:
# 11. Len and clear
# The len function returns the number of items in a dictionary (i.e. the length). 
# The clear method is used to delete all items from a dictionary so we will end up having an empty dictionary.
len(grades)
grades.clear()
len(grades)
# 0

In [ ]:
# 12. Copying a dictionary
grades = {'John':'A', 'Emily':'A+', 'Betty':'B'}
dict1 = grades
dict2 = grades.copy()
dict3 = dict(grades)
# All dict1, dict2, and dict3 contain the exactly same key-value pairs as grades.
# However, dict1 is just a pointer to the key-value pairs in grades. Thus, any change in grades will also change dict1.
# Dict2 and dict3 are separate objects in the memory so they will not be affected by the changes in grades.

In [ ]:
# 13 Looping into dicts 
# no method 
for x in mock_data:
    print(x)
# .keys() method - returns a dict_keys object that is then iterated over as we store each value in our x variable
for x in mock_data.keys():
    print(x)
# using the .values() method will store the term’s value in x rather than the key.
for x in mock_data.values():
    print(x)
# use the .items() method, which returns each key-value pair as a two-value tuple.
for x in mock_data.items():
    print(x)
for k,v in mock_data.items():
    print(k,v)

How to Boost Pandas Functions with Python Dictionaries 
https://towardsdatascience.com/how-to-boost-pandas-functions-with-python-dictionaries-35da25e250d7

In [ ]:
# looping list 
# This method will not work for a dictionary because the data requires an iterable with positional values, but I wanted to include it for reference.
mock_data = [90, 45, 32, 44]
for i in range(len(data)):
   print(data[i]) # 90, 45, 32, 44